<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Store-Part-I-results-into-DataFrame" data-toc-modified-id="Store-Part-I-results-into-DataFrame-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Store Part I results into DataFrame</a></span></li><li><span><a href="#Humidity-Heatmap" data-toc-modified-id="Humidity-Heatmap-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Humidity Heatmap</a></span></li><li><span><a href="#Create-new-DataFrame-fitting-weather-criteria" data-toc-modified-id="Create-new-DataFrame-fitting-weather-criteria-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create new DataFrame fitting weather criteria</a></span></li><li><span><a href="#Hotel-Map" data-toc-modified-id="Hotel-Map-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Hotel Map</a></span></li></ul></div>

# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

## Store Part I results into DataFrame

In [2]:
# Load the csv exported in Part I to a DataFrame
path = "../WeatherPy/output_data/cities.csv"
df = pd.read_csv(path)
del df["City_ID"]
df.head()

,City,Lat,Lng,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
0,rikitea,-23.12,-134.97,69.57,68,0,21.92,PF,1593656666
1,cape town,-33.93,18.42,53.01,100,33,3.36,ZA,1593656425
2,pekan nenas,1.51,103.51,84.20,79,20,4.70,MY,1593657237
3,east london,-33.02,27.91,63.52,32,52,5.10,ZA,1593656650
4,sile,41.18,29.61,72.00,82,0,8.30,TR,1593657239

## Humidity Heatmap

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Use the Lat and Lng as locations and Humidity as the weight
city_locations = df[["Lat", "Lng"]]
humidity = df["Humidity (%)"]

In [5]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(city_locations, weights=humidity,
                                 dissipating=False, max_intensity=humidity.max(),
                                 point_radius=2)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

## Create new DataFrame fitting weather criteria

In [6]:
# Narrow down the cities to fit weather conditions. Store into variable named hotel_df.
    ## A max temperature lower than 75 degrees but higher than 70.
    ## Wind speed less than 7 mph.
    ## Zero cloudiness

hotel_df = df.loc[(df["Max Temperature (F)"] < 75) & (df["Max Temperature (F)"] > 70) & (
    df["Wind Speed (mph)"] < 7) & (df["Cloudiness (%)"] == 0), :].reset_index(drop=True)
hotel_df

,City,Lat,Lng,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
0,maceio,-9.67,-35.74,71.60,94,0,3.36,BR,1593657262
1,misratah,32.38,15.09,73.72,68,0,3.29,LY,1593657270
2,palafrugell,41.92,3.16,72.00,51,0,4.65,ES,1593657298
3,tabuleiro do norte,-5.25,-38.13,73.76,88,0,5.55,BR,1593657329
4,piacabucu,-10.41,-36.43,71.33,76,0,2.15,BR,1593657348
5,touros,-5.20,-35.46,71.60,100,0,3.36,BR,1593657363
6,hun,29.13,15.95,71.22,46,0,4.97,LY,1593657383
7,beyneu,45.32,55.20,71.58,31,0,4.21,KZ,1593657453
8,porto torres,40.84,8.40,71.60,88,0,1.12,IT,1593656918
9,lagunas,-5.23,-75.68,73.36,89,0,1.54,PE,1593657528

In [7]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 10 non-null     object
 1   Lat                  10 non-null     float64
 2   Lng                  10 non-null     float64
 3   Max Temperature (F)  10 non-null     float64
 4   Humidity (%)         10 non-null     int64
 5   Cloudiness (%)       10 non-null     int64
 6   Wind Speed (mph)     10 non-null     float64
 7   Country              10 non-null     object
 8   Date                 10 non-null     int64
dtypes: float64(4), int64(3), object(2)
memory usage: 848.0+ bytes

As can be seen above, there is no rows with null values.

## Hotel Map

In [8]:
# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lng,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date,Hotel Name
0,maceio,-9.67,-35.74,71.60,94,0,3.36,BR,1593657262,
1,misratah,32.38,15.09,73.72,68,0,3.29,LY,1593657270,
2,palafrugell,41.92,3.16,72.00,51,0,4.65,ES,1593657298,
3,tabuleiro do norte,-5.25,-38.13,73.76,88,0,5.55,BR,1593657329,
4,piacabucu,-10.41,-36.43,71.33,76,0,2.15,BR,1593657348,
5,touros,-5.20,-35.46,71.60,100,0,3.36,BR,1593657363,
6,hun,29.13,15.95,71.22,46,0,4.97,LY,1593657383,
7,beyneu,45.32,55.20,71.58,31,0,4.21,KZ,1593657453,
8,porto torres,40.84,8.40,71.60,88,0,1.12,IT,1593656918,
9,lagunas,-5.23,-75.68,73.36,89,0,1.54,PE,1593657528,

In [9]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Create a params dict that will be updated with new city each iteration.
# Set parameters to search for hotels within 5000 meters radius
params = {
    "radius": 5000,
    "keyword": "hotel",
    "key": g_key
}

# Loop through the hotel_df and run a lat/long search for each city
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    # update params dict with location key value
    params["location"] = f"{lat},{lng}"

    # make request & convert to json
    hotel_data = requests.get(base_url, params=params).json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [10]:
# Store the first Hotel result into the DataFrame
hotel_df

,City,Lat,Lng,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date,Hotel Name
0,maceio,-9.67,-35.74,71.60,94,0,3.36,BR,1593657262,Jatiúca Hotel & Resort
1,misratah,32.38,15.09,73.72,68,0,3.29,LY,1593657270,Safari Hotel
2,palafrugell,41.92,3.16,72.00,51,0,4.65,ES,1593657298,Hotel Aigua Blava (Begur)
3,tabuleiro do norte,-5.25,-38.13,73.76,88,0,5.55,BR,1593657329,Hotel Central II
4,piacabucu,-10.41,-36.43,71.33,76,0,2.15,BR,1593657348,Pousada Raizes
5,touros,-5.20,-35.46,71.60,100,0,3.36,BR,1593657363,Hotel Vila Gale Touros
6,hun,29.13,15.95,71.22,46,0,4.97,LY,1593657383,Alrwasi Hotel
7,beyneu,45.32,55.20,71.58,31,0,4.21,KZ,1593657453,"HOTEL ""AKNUR"""
8,porto torres,40.84,8.40,71.60,88,0,1.12,IT,1593656918,Hotel Libyssonis
9,lagunas,-5.23,-75.68,73.36,89,0,1.54,PE,1593657528,Hospedaje Eco

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row)
              for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))